.infoBox {
  flex: 1;
}

.infoBox:not(:last-child) {
  margin-right: 10px;
}

.infoBox--selected {
  border-top: 10px solid greenyellow;
}

.infoBox--red {
  border-color: red;
}

.infoBox__cases--green {
  color: rgb(22, 209, 22) !important;
}

.infoBox__cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 1.2rem !important;
  margin-top: 15px !important;
}

.infoBox__Period{
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
margin-top: 10px;
margin-bottom: 10px;
}

.infoBox__title{
  font-weight: bold;
  font-size: 2rem;
}
